.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
  }
  
  .home-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 40px;
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }